

.lead {
  margin-bottom: @line-height-none;
  font-size: (@font-size-base * 1.15);
  font-weight: 200;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: (@font-size-base * 1.5);
  }
}


// Blockquotes
blockquote {
  padding: @padding-large-vertical;
  margin: 0px;
  border-left: 0px;
  border-top: 5px solid @brand-primary;
  background-color: @gray-lighter;
  p {
    font-size: (@font-size-base * 1.25);
    font-weight: 300;
    line-height: 1.25;
  }
  p:last-child {
    margin-bottom: 0;
  }
  small {
    display: block;
    line-height: @line-height-base;
    color: @blockquote-small-color;
    &:before {
      content: none;// EM DASH, NBSP
    }
  }

  // Float right with text-align: right
  &.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @blockquote-border-color;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';// NBSP, EM DASH
      }
    }
  }
}




//
// Quote
// --------------------------------------------------

.quote-text {
	border-top: 1px solid @gray-light;
	border-bottom: 1px solid @gray-light;
	padding: @padding-small-vertical;
	margin-bottom:@margin-medium;
}

.list-inline {
  margin-top: @margin-none;
  margin-bottom: @margin-none;
}

blockquote .list-inline li.bullet {
  color: @brand-primary;
  font-size: 4px;
  margin-top: @margin-none;
  vertical-align: middle;
}

blockquote .list-inline small {
  color: @brand-primary;
  margin-top: @margin-none;
  margin-bottom: @margin-none;
}



// For Affix plugin
// -------------------------

.affix {
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 5000000;
}



// Masthead
// -------------------------

.masthead {
  background-color: @white;
  .box-shadow(rgba(0, 0, 0, .10) 0px 2px 2px 0px );
  border-bottom: 1px solid @gray-light;

}


.masthead ul {
  padding:@padding-small-vertical;
}


.masthead ul li{
  padding:@padding-base-horizontal;
}


.masthead ul li a {
  text-decoration: none;
}


.masthead ul li a:hover{
  border-top: 5px solid @brand-secondary;
  text-decoration: none;
}






// Hero Section
// -------------------------

img.hero {
     width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -5000;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;

}



// Home Section
// -------------------------


.section-intro-text {
  padding: @padding-large-vertical 0px @padding-large-vertical 0px;
  border-bottom: 1px solid @gray-light;
  margin-bottom: @margin-xlarge;
}


.section-intro-text h1 {
  margin-bottom: @margin-xlarge;
}


.section-text {
  padding: 0px 0px @padding-large-vertical 0px;
  border-bottom: 1px solid @gray-light;
  margin-bottom: @margin-xlarge;
}


.section-text-last {
  padding: 0px 0px @padding-large-vertical 0px;
  margin-bottom: @margin-xlarge;
}

.section-text-last .seal {
  margin-bottom: @margin-xlarge;
}

.section-text-last a:hover{
  text-decoration: none;
}



footer{
  background-color: @brand-primary;
  padding: @padding-small-vertical 0px @padding-small-vertical 0px;
  color:@white;
}

footer a, footer a:hover{
  color: @white;
  text-decoration: none;
}

.pipe ul {
 margin-left: 0;
 padding-left: 0;
 display: inline;

 } 

 .pipe ul li {
   margin-left: 0;
   padding: 3px 10px;
   border-left: 1px solid @white;
   list-style: none;
   display: inline;
 }

.pipe ul li.first {
  margin-left: 0;
  border-left: none;
  list-style: none;
  display: inline;
  padding: 3px 10px 3px 0px;
 }


footer .list-inline li.bullet {
  font-size: 4px;
  margin-top: @margin-none;
  vertical-align: middle;
}

footer .list-inline small {
  margin-top: @margin-none;
  margin-bottom: @margin-none;
}

.address {
  text-align: none;
    @media (min-width: @screen-tablet) {
    text-align: right;
  }
}